body{
    background: #101326;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.barra{
    background: #0b0d1a;
    border-bottom: 3px solid #a50044;
}

.nav-link{
    color: white !important;
    transition: 0.3s;
}

.nav-link:hover{
    color: gold !important;
}


.titulo{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 40px;
}


.historia-card{
    background: #e9e9e9;
    color: black;
    overflow: hidden;
    transition: 0.3s;
    height: 100%;
    cursor: pointer;
}

.historia-card:hover{
    transform: translateY(-8px);
}

.historia-card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}


.contenido{
    padding: 20px;
}

.contenido h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contenido p{
    font-size: 16px;
    color: #333;
}


@media(max-width:768px){

    .titulo{
        font-size: 35px;
    }

    .historia-card img{
        height: 200px;
    }

}

.trophy-card{
    background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.trophy-icon{
    color: gold;
    font-size: 50px;
}

.number{
    color: #ffcc00;
    font-size: 50px;
    font-weight: bold;
}

.title, .small-text{
    color: white;
    font-weight: bold;
}